# API
API_PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ultimate_saas?schema=public
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_ACCESS_SECRET=replace-with-long-random-access-secret
JWT_REFRESH_SECRET=replace-with-long-random-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
SMTP_HOST=smpt.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM=noreply@ultimate-saas.local
SUPER_ADMIN_EMAIL=admin@local.dev
SUPER_ADMIN_PASSWORD=ChangeMe123!
SUPER_ADMIN_NAME=Ultimate Admin

# WEB
NEXT_PUBLIC_API_URL=http://localhost:4000/v1
